<h1>Create a New Role</h1>
<%= form_for @role do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Create Role" %>
  </div>
<% end %>
